body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

header {
  position: sticky;
  top: 0;
  background: #f8f8f8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.weather-summary {
  display: flex;
  align-items: center;
}

.weather-summary span {
  margin-right: 10px;
  font-size: 1.2rem;
}

.weather-summary img {
  width: 40px;
  height: 40px;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  font-size: 1rem;
}

.search-bar button {
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.weather-card {
  background: #fff;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  background: #0077cc;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.card-header .times {
  text-align: right;
  font-size: 0.8rem;
}

.card-body {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.card-body .left-column,
.card-body .right-column {
  width: 45%;
}

.left-column {
  display: flex;
}

.left-column img {
  width: 60px;
  height: 60px;
  display: block;
  margin-bottom: 10px;
}

.left-column p,
.right-column p {
  margin: 5px;
}

.temperature {
  font-weight: bold;
  font-size: 3.5rem;
}

.unit {
  font-size: 1rem;
}

.daily-card {
  background: #fff;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.daily-card .card-header {
  font-size: 1.2rem;
  background: #0077cc;
  color: #fff;
  padding: 10px 20px;
}

.daily-card .card-body {
  display: grid;
  padding: 10px 20px;
}

.daily-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.daily-item:not(:last-child) {
  border-bottom: 1px solid grey;
}

.daily-item span {
  margin: 0 10px;
}

.daily-icon {
  width: 40px;
  height: 40px;
}

.daily-tempmax,
.daily-tempmin {
  min-width: 50px;
}
